.project {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff5ea;
    padding: 50px;
}

.project-img {

    max-width: 70%;
    /* Ensure the image doesn't exceed its container */
    height: auto;
    /* Maintain aspect ratio */
    box-shadow: 0px 0px 40px #00000066;

}

.button-container {
    display: flex;
 
    justify-content: center;

    margin-top: 20px;
}

.project-btn {
    background-color: #fff5ea;
}

nav {
    display: none;
}